.task-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #b1b2a0;
  max-height: 500px;
  max-width: 25%;
}